.button {
  background: var(--unselected-item-bg);
  color: var(--foreground);
  fill: var(--foreground);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0 3px 5px var(--shadow);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: var(--green);
    fill: var(--green);
    border: 1px solid var(--green);
    cursor: pointer;
  }
}

.buttonRare {
  background: var(--rare-item-bg);
  color: var(--background);
  fill: var(--background);
}

.buttonWhite {
  background: var(--normal-item-bg);
  color: var(--background);
  fill: var(--background);
}

.buttonDisabled {
  background: var(--unselected-item-bg);
}

.buttonBaseSelected { 
  fill: var(--green);
  border: 1px solid var(--unselected-item-bg);
  background: var(--unselected-item-bg);
  background: linear-gradient(180deg, var(--unselected-item-bg) 97%, var(--green) 97% 100%);
}
