@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-dark: #23242E;
    --background: #282A36;
    --foreground: #F8F8F2;
    --selection: #44475A;
    --comment: #6272A4;
    --red: #FF5555;
    --orange: #FFB86C;
    --yellow: #F1FA8C;
    --green: #50FA7B;
    --purple: #BD93F9;
    --cyan: #8BE9FD;
    --pink: #FF79C6;

    --shadow: rgba(0, 0, 0, 15);

    --unique-item-bg: rgb(175,96,37);
    --rare-item-bg: rgb(255,255,119);
    --magic-item-bg: rgb(136,136,255);
    --normal-item-bg: rgb(200,200,200);
    --unselected-item-bg: var(--selection);
}

body {
    background: var(--background);
    color: var(--foreground);
}

h2 {
    color: var(--comment);
}


a {
    color: var(--cyan);
    text-decoration: none;
}

a:visited {
    color: var(--purple);
}

a:hover {
    color: var(--pink);
}

.filternameInput {
    background: var(--background);
    color: var(--green);
    font-size: x-large;
    outline: none;
}

.filternameInput:focus {
    border-bottom: 1px solid var(--green);
}

.icon {
    width: 35px;
    height: 35px;
}
